ion-toolbar{
    background-color: var(--ion-color-defcolor);
}
.btn{
    background-color: var(--ion-color-defcolor-shade);
    color: white;
    padding: .5em 1em;
    border-radius: 10px;
    font-size: 15px;
    margin: .5em auto;
}